html {
  scroll-behavior: smooth;
}

/*  Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

@font-face {
  font-family: 'bluunext-bold';
  src: url('../fonts/bluunext-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'bluunext-italic';
  src: url('../fonts/bluunext-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'bluunext-titling';
  src: url('../fonts/bluunext-titling-webfont.woff') format('woff');
}

.main-heading {
  font-family: 'bluunext-bold', sans-serif;
  font-style: normal;
  font-size: 96px;
}

.main-header {
  height: 500px;
}

.sunwithface {
  width: 60px;
  height: auto;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'bluunext-bold', sans-serif;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}
/* Links */

.toptal:link {
  text-decoration: none;
}
/* A link that has not been visited */
a:link {
  color: #222;
}

/* A link that has been visited */
a:visited {
  color: #444;
}

/* A link that is hovered on */
a:hover {
  color: #222;
}

/* A link that is selected */
a:active {
  color: #222;
}

a > span {
  padding-right: 5px;
}
.sand-white {
  background: #f5f3f0;
}

.toptal {
  color: #204ecf;
}

.toptal:hover {
  color: #0f256e;
  cursor: pointer;
}

.dark-sand-white {
  /* background: #E6E1DA; */
  background: #d9d4ce;
}

.project {
  overflow: hidden;
  height: 300px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.subcopy {
  font-size: 20px;
}

.tertiary-paragraph {
  font-size: 16px;
  color: #444;
}

.disabled {
  filter: grayscale(100);
  opacity: 50%;
}

#main {
  font-size: 40px;
  line-height: 150%;
}

.project .bg-image {
  width: 100%;
  transition: transform 0.5s ease;
}
/* 
.pj-heading-paragraph {
  position: relative;
  background-color: white;
  box-shadow: 0 10.2px 35.1px rgba(0, 0, 0, 0.019),
    0 77px 204px rgba(0, 0, 0, 0.08);
  width: 500px;
  transform: translate(-25px, -50px);
} */

.bg-image {
}

/* .project:hover .bg-image {
  transform: scale(1.2);
} */

.project {
  overflow: hidden;
  transition: ease-in 0.3s;
}

.project-image {
  width: 250px;
  height: auto;
  transition: ease-in 0.3s;
}

.project-image:hover {
  transform-origin: scale(1.2);
}

.project-image-brewculator {
  width: 500px;
  height: auto;
  /* transform: translateY(60px);
  transform: translateX(40px); */
  transform-origin: center;
  transition: ease-in 0.3s;
}

.project-image-brewculator:hover {
  transform: scale(1.15, 1.15);
  /* transform: translateY(60px);
  transform: translateX(40px); */
  transform-origin: center;
  transition: ease-in 0.4s;
}

.project-image-highlighted {
  width: 600px;
  height: auto;
}

.br-gray {
  border: 1px solid #d9d4ce;
}

.blogpost {
  background-color: white;

  transition: 0.3s ease-in-out;
}

.dropshadow-bg {
  background-color: white;
}

.heading-padding-div {
  display: flex;
  justify-content: space-between;
}

.blogpost:hover {
  background: #fff;
  transform: translateX(-40px);
}

.blogpost:hover h2 {
  color: #222;
}

.project-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.test {
  width: 100%;
  height: auto;
  position: relative;
}

.snek {
  width: 100px;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: none;
  transition: 0.25s ease;
}

.test:hover > .snek {
  -webkit-transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateX(25px) translateY(-50%);
}

html.sr .load-hidden {
  visibility: hidden;
}

.logo {
  height: 30px;
}

header {
  margin-top: 6rem;
  margin-bottom: 2rem;
  /* opacity: 0; */
}

.header-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.header-definition {
  font-size: 24px;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  line-height: 1;
}

nav {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  margin-left: 1rem;
}

nav a:last-child {
  text-decoration: none;
}

nav a:first-child {
  text-decoration: none;
  margin-left: 0;
}

footer {
  align-items: center;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  margin-left: 1rem;
}

footer a:last-child {
  text-decoration: none;
}

footer a:first-child {
  text-decoration: none;
  margin-left: 0;
}

p {
  font-size: 18px;
}

.info {
  max-width: 100%;
}

.sunwithface {
  font-size: 64px;
  padding-left: 0px;
}

.header-micro {
  font-size: 14px;
  color: #757575;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.project-header {
  padding-bottom: 64px;
}

.project-image-highlighted {
  padding-top: 24px;
  width: 600px;
}

.full-width {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  background-color: #fcddac;
  padding-bottom: 100px;
  margin-bottom: 64px;
}

.full-width-impr {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  background-color: #ecdab6;
  padding-bottom: 100px;
  margin-bottom: 64px;
}

.full-width-brewculator {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  background-color: #ffd3b3;
  padding-bottom: 100px;
  margin-bottom: 64px;
}

.videoelement {
  max-width: 960px;
}

.full-width-cover {
  margin-left: calc(-100vw / 2 + 960px / 2);
  margin-right: calc(-100vw / 2 + 960px / 2);
  background-color: #3d3d3d;
  padding-bottom: 100px;
  margin-bottom: 64px;
}

.homepage-vid {
  margin-left: 10px;
}

.work-row {
  flex-direction: row;
  max-width: 50%;
}

section {
  /* opacity: 0; */
}

.touch:first-child {
  margin-right: 10px;
}

.work {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  max-height: 550px;
  background-color: #f0f0f0;
  transition: 0.25s ease;
}

.work:hover > .image {
  transform: scale(1.2);
  transition: 0.25s ease;
  background-color: red;
}

.list a img {
  /* opacity: 0; */
  position: fixed;
  top: 25%;
  left: 25%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity 0.3s;
}

.work div:hover img {
  scale: 1.2;
}

.work img {
  scale: 1;
  transition: 0.3s;
}

.work a:hover img {
}

.list {
  font-size: 64px;
  line-height: 1.2;
  color: black;
}

.project-title {
  font-size: 48px;
}

.project-copy {
  font-size: 16px;
  line-height: 1.5;
}

.project-head {
  font-size: 32px;
  margin-bottom: 0;
  font-weight: bold;
  transition: 0.3s;
}

.project-body {
  margin: 0 auto;
}

.small {
  width: 400px;
}

.microcopy {
  font-size: 14px;
}

.photo {
  width: 300px;
  position: relative;
}

.small {
  width: 220px;
}

.large {
  width: 400px;
}

.img-hover img {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  pointer-events: none;
  transition: opacity 0.3s;
  text-decoration: none;
  cursor: crosshair;
}

.img-hover:hover img {
  opacity: 1;
}

.arrow {
  transition: 0.3s ease-in-out;
}

.back:hover .arrow {
  transform: translateX(-10px);
}

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0 0.1em;
}

.cameraname {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  margin-top: 1em;
  margin-right: 1em;
  font-size: 1em;
}

/* 
################################### 

Italian page

###################################
*/
.timeline-container {
  width: 700px;
  margin: 0 auto;
}

.timeline-title {
  font-size: 24px;
}

.timeline-info {
  font-size: 18px;
}

.timeline-type {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #ffe8d9;
  border-radius: 50px;
  display: inline-block;
}

.timeline-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.semibold {
  font-weight: 500;
}

.timeline-container ul li {
  margin: 150px 60px;
  position: relative;
  padding: 30px;
  background-color: #fff;
  padding-bottom: 20px;
}

.timeline-container ul li div {
  margin-bottom: 15px;
}

.timeline-container ul li > span {
  content: '';
  position: absolute;
  top: 0;
  left: -60px;
  height: 100%;
}

.timeline-container ul li > span:before,
.container ul li > span:after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #ff6300;
  position: absolute;
  border-radius: 100%;
  background: #ffe8d9;
  left: -6px;
}

.timeline-container ul li > span:before {
  top: -10px;
}

.timeline-container ul li > span:after {
  top: 100%;
}

.timeline-container ul li .time span {
  position: absolute;
  text-align: right;
  font-size: 14px;
  left: -125px;
  width: 45px;
}

.timeline-container ul li .time span:first-child {
  top: -12px;
}

.timeline-container ul li .time span:last-child {
  top: 100%;
}

.timeline-button {
  background: none;
  border: 2px solid #ff6300;
  padding: 15px 25px;
  margin: 0 auto;
  transition: all 150ms ease-out;
}
.timeline-button:hover {
  background: none;
  border: 5px solid #ff6300;
}

/* 
################################### 

Animations

###################################
*/

.anim1 {
  opacity: 0;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}

/* Queries */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1440px) and (max-width: 2560px) {
  .container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .sidenav {
    display: none;
  }
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }

  .main-heading {
    font-size: 80px;
  }

  .grid-col--2,
  .grid-col--3 {
    display: none;
  }

  .project-image-highlighted {
    width: 400px;
    height: auto;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 767px) {
  .header-micro {
    font-size: 16px;
  }
  .nav-items {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-items > a {
    display: flex;
  }

  .container {
    margin-bottom: 24px;
  }
  .header-definition {
    line-height: 4;
  }
  .sunwithface {
    width: 60px;

    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  nav {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }

  nav a {
    text-decoration: none;
    margin-left: 4px;
  }

  nav a:last-child {
    text-decoration: none;
    margin-right: 0;
  }
  /* ##################### */
  footer {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }

  footer a {
    text-decoration: none;
    margin-left: 4px;
  }

  footer a:last-child {
    text-decoration: none;
    margin-right: 0;
  }
  .stamp {
    display: none;
  }
  .homepage-vid {
    margin-top: 10px;
    width: 60%;
    height: auto;
  }

  .full-width {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    background-color: #fcddac;
  }

  .main-heading {
    font-family: 'bluunext-bold', sans-serif;
    font-style: normal;
    font-size: 48px;
  }

  .main-header {
    height: 300px;
  }

  .project {
    overflow: hidden;
    height: 350px;
    padding-top: 25px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .project-image {
    width: 150px;
    height: auto;
    transform: translateX(150px);
    transform: translateY(80px);
    transition: ease-in 0.3s;
  }

  .highlighted {
    background-color: none;
  }
  .highlighted:hover {
    background-color: none;
  }
  .highlighted a {
    color: #444;
  }

  .header-definition {
    font-size: 18px;
    line-height: 1.5;
  }

  .timeline-container {
    width: 90%;
  }

  .timeline-container ul li {
    margin: 0;
    margin-bottom: 50px;
    padding: 20px;
  }

  .sidenav {
    display: none;
  }
  h1 {
    font-size: 24px;
  }

  .blogpost:hover {
    background: #e6e1da;
  }

  .blogpost:hover h2 {
    color: black;
  }

  .header-definition {
    padding-bottom: 15px;
  }

  .infoVid {
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    margin-left: 1em;
    margin-right: 1em;
  }

  .sunwithface {
    font-size: 40px;
  }
  nav a:first-child {
    margin-left: 0;
  }

  nav a {
    text-decoration: none;
    margin-left: 2rem;
  }

  .container {
    padding-left: 1em;
    padding-right: 1em;
  }

  .grid-col--2,
  .grid-col--3 {
    display: none;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .mobile-copy {
    display: none;
  }
}

.highlighted {
  background-color: #204ecf;
  padding: 5px;
}
.highlighted:hover {
  background-color: #183a9e;
  padding: 5px;
}

.highlighted a {
  color: white;
  padding: 5px;
}

.stamp {
  max-width: 200px;
}

.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 20%; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-right: 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 12px 12px 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.full-width-brewculator {
  background-color: #ffd3b3;
  padding-bottom: 0;
}

/* When you mouse over the navigation links, change their color */

/* Style page content */

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  /* 
################################### 

Italian page mobile

###################################
*/

  .timeline-title {
    font-size: 24px;
  }

  .timeline-info {
    font-size: 18px;
  }

  .timeline-type {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #ffe8d9;
    border-radius: 50px;
    display: inline-block;
  }

  .timeline-container ul {
    list-style: none;
  }

  .semibold {
    font-weight: 500;
  }

  .container ul:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 1px dashed #d9d4ce;
  }

  .timeline-container ul li {
    margin: 150px 60px;
    position: relative;
    padding: 30px;
    background-color: #fff;
    padding-bottom: 20px;
  }

  .timeline-container ul li div {
    margin-bottom: 15px;
  }

  .timeline-container ul li > span {
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    height: 100%;
  }

  .timeline-container ul li > span:before,
  .container ul li > span:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #ff6300;
    position: absolute;
    border-radius: 100%;
    background: #ffe8d9;
    left: -6px;
  }

  .timeline-container ul li > span:before {
    top: -10px;
  }

  .timeline-container ul li > span:after {
    top: 100%;
  }

  .timeline-container ul li .time span {
    position: absolute;
    text-align: right;
    font-size: 14px;
    left: -125px;
    width: 45px;
  }

  .timeline-container ul li .time span:first-child {
    top: -12px;
  }

  .timeline-container ul li .time span:last-child {
    top: 100%;
  }

  .timeline-button {
    background: none;
    border: 2px solid #ff6300;
    width: 250px;
    padding: 15px 25px;
    margin: 0 auto;
    transition: all 150ms ease-out;
  }
  .timeline-button:hover {
    background: none;
    border: 5px solid #ff6300;
  }
}

.no-bullet {
  list-style: none !important;
  padding-left: 0;
}
